/* DarkModeToggle.css */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .dark-mode-toggle img {
    width: 30px;
    height: 30px;
    transition: filter 0.3s;
  }
  
  .dark-mode-toggle img.dark {
    filter: invert(100%);
  }
  
  .dark-mode-toggle img.light {
    filter: none;
  }
  