/* Navbar.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(9, 9, 9);
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000; /* Ensure the navbar appears on top */
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.name {
  color: white;
  margin-left: 10px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* Navbar.css */

/* Center the contact form on the screen */
.contact-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the form */
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  width: 100%;
  max-width: 400px; /* Limit the maximum width of the form */
}

/* Adjust the form layout */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%; /* Ensure the input and textarea are full width */
  box-sizing: border-box;
}

.success-message {
  color: green;
  margin-bottom: 10px;
  text-align: center;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .contact-form-container {
    width: 90%; /* Make the form width responsive on smaller screens */
  }
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    height: auto; /* Auto height to fit content */
    padding: 10px; /* Add padding for spacing */
  }

  .nav ul {
    margin-top: 10px; /* Add margin between items */
  }

  .nav li {
    margin: 5px ; /* Adjust margin for spacing */
  }
}
