/* ResumeButton.css */
.resume-button-container {
    display:flexbox;
     /* Align items to the right side */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  /* Adjust button styles as needed */
/* ResumeButton.css */


  
  .resume-button:hover {
    background-color: #0056b3;
  }
  